.flexbox {
  height: 500px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}
.flexbox div {
  width: 40%;
  height: 30%;
}
.flexbox .one,
.flexbox .two {
  height: 45%;
}
